{% extends "base.html" %}

{% block content %}
  Calculating the <a target="_blank" href="https://en.wikipedia.org/wiki/Morphy_number">Morphy number</a><br><br>
  <div id="info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus eros tortor, eu fermentum justo hendrerit at. Donec in laoreet sapien. Phasellus elementum dui id sem ornare ultrices. Vestibulum vel erat vitae metus consequat ultrices. Etiam fermentum eros vitae condimentum posuere. Duis porta imperdiet purus eget euismod. Nam dictum lacinia vehicula. Praesent efficitur elit eros, ac faucibus neque accumsan vel. Proin luctus lacus blandit elit pretium, vitae pharetra neque pulvinar.
  </div>
{% endblock %}
